body {
  margin: 0;
  font-family: 'Courier New';
  color: #D57CFF;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, li {
  margin: 2em 2em;
}

ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

.banner {
  margin: 0;
  display: block;
  padding: 1% 2em;
  background-color: #27182D;
  align-content: center;
}