body {
  margin: 0;
  font-family: NSimSun;
  color: #D57CFF;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  padding: 1% 1%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3rem;
}

.banner {
  display: block;
  padding: 1% 2em;
  background-color: #27182D;
  align-content: center;
}

.console {
  
}